# FODLER =======================================================================

.github
.husky
.vscode
dist
ignore
node_modules

examples/configs_linux.json
examples/configs_windows.json

# FILES ========================================================================

README.md
